<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".AcnetifyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Acnetify"
        tools:targetApi="31">
        <activity
            android:name=".feature_acne.presentation.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".feature_auth.presentation.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".feature_auth.presentation.sign_up.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".feature_auth.presentation.sign_in.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".feature_acne.presentation.detail_acne.DetailAcneActivity"
            android:exported="false" />
        <activity
            android:name=".core.presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>